<!-- from https://github.com/jpescador/jpescador-code-snippets/blob/leverage-shortcodes-in-hugo/img-post.html -->
<!-- Part 1 -->
<!--
    params 2-4
    Can be positional or named
    position 0, name: path
        Can pass in the following values:
            title: will use /img/LinkTitle as the path
            date: will use /img/Year/Month as the path
            /path/to/img: can pass in explicit path to the image
    position 1, name: file
        Name of the file including the file extension
    position 2, name: alt
        Name of the alternate text for the image
    position 3, name: type
        Can pass in the following values:
            center: places the image centered
            left: places the image to the left
            right: places the image to the right
-->
{{ $numOfParams := len .Params }}
{{ if and (ge $numOfParams 2) (le $numOfParams 4) }}
    <!-- Check if the Parameter is positional or named
         which can handle both. -->
    {{ if .IsNamedParams }}
        {{ $.Scratch.Set "path" (.Get "path") }}
        {{ $.Scratch.Set "file" (.Get "file") }}
        {{ $.Scratch.Set "alt"  (.Get "alt") }}
        {{ $.Scratch.Set "type" (.Get "type") }}
    {{ else }}
        {{ $.Scratch.Set "path" (.Get 0) }}
        {{ $.Scratch.Set "file" (.Get 1) }}
        {{ if ge $numOfParams 3 }}
            {{ $.Scratch.Set "alt" (.Get 2) }}
        {{ else }}
            {{ $.Scratch.Set "alt" "" }}
        {{ end }}
        {{ if ge $numOfParams 4 }}
            {{ $.Scratch.Set "type"  (.Get 3) }}
        {{ else }}
            {{ $.Scratch.Set "type" "center" }}
        {{ end }}
    {{ end }}

<!-- Part 2 -->
    {{ $file := $.Scratch.Get "file" }}
    {{ $type := $.Scratch.Get "type" }}
    {{ $alt  := $.Scratch.Get "alt" }}
    {{ $path := $.Scratch.Get "path" }}

    <!--
        Set the path depending on the value passed through
        if path is title then it will use the LinkTitle from the Page variable
        if path is date then it will format the directory to year/date i.e. 2006/01
        Note: path will be concatenated to the root directory, img
        otherwise use the explicit path provided by the user
    -->
    {{ if eq $path "title" }}
        {{ $.Scratch.Set "path" "/img/" }}
        {{ $.Scratch.Add "path" (lower (replace .Page.LinkTitle " " "-")) }}
    {{ else if eq $path "date" }}
        {{ $.Scratch.Set "path" "/img/" }}
        {{ $.Scratch.Add "path" (.Page.Date.Format "2006/01") }}
    {{ else }}
        {{ $.Scratch.Set "path" $path }}
    {{ end }}
    {{ $path := $.Scratch.Get "path" }}

<!-- Part 3 -->

    {{ if eq $type "left" }}
        <span class="image left">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span>
    {{ else if eq $type "right" }}
        <span class="image right">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span>
    {{ else }}
        <p><span class="image center-image">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span></p>
    {{ end }}
{{ end }}
